<div class="ui grid">

    <div class="ui column">

        <div class="ui form segment">
            <div class="field">
                <h1>Categories</h1>

                <div class="ui left labeled icon input">
                    <form id="category-form" ng-submit="addCategory()">
                        <input id="new-category" type="text" placeholder="add category?" ng-model="newCategory"
                               autofocus>

                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="ui animated massive list">
            <div class="item" ng-repeat="category in categories">
                <i class="map icon"></i>

                <div class="content">
                    <div class="">{{category}}</div>
                </div>
            </div>
        </div>
    </div>



</div>

